.App {
  text-align: center;
}
body{
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width: 400px;
  height: 250px;
}
#btn1{
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  position: relative;
  left: -35px;
  top: -150px;
}
#btn2{
  width: 30px;
  height: 30px;
  position: relative;
  left: -425px;
  top: -150px;
}
#cont{
  margin-top: 200px;
}
#hh1{
  position: relative;
  left: -30px;
  top: 0px;
}